<!-- Toolbar -->
<div class="toolbar">
  <a aria-label="start seite luh" href="https://www.uni-hannover.de/de/"
    title="Startseite Leibniz Universität Hannover">
    <img width="160" alt="Angular Logo"
      src="https://www.uni-hannover.de/typo3conf/ext/luh_website/Resources/Public/Images/Logo/luh_logo.svg" />
  </a>
  <a class="home" aria-label="Home" href=""
    title="Back to Home">
    <span>Table Extraktor</span>
  </a>

  <div class="spacer"></div>
  <span class="contact-button">
    <a class="contact" aria-label="contact" href="https://www.imp.uni-hannover.de/de/"
      title="Startseite Fakultät für Maschinenbau">
      <mat-icon class="contact-icon">email</mat-icon>
      Contact Us
    </a>
  </span>
</div>


<router-outlet></router-outlet>